.row.margin-home
	#slide
		%ul.slideme
			- @sliders.each do |slider|
				%li
					%a{href: '#', class:'slider_link'}
						.slider_image
							= image_tag(slider.image)
							.slider_text
								= slider.title

.row
	.col-md-1
	.col-md-10
		.search
			= text_field_tag :search, params[:search], placeholder: "busca ideas, especialistas y productos", size: 150, class: 'search-field'
	.col-md-1

.row
	= render partial: 'projects/projects', locals: {projects: @projects }

