.col-md-1
.col-md-8
	%h3
		Destacados
	= link_to "Nuevo", new_featured_path, class: 'btn btn-success'
	- @featureds.each do |featured|
		.media
			.media-body
				%h4.media-heading
					= link_to featured.title, edit_featured_path(featured)