/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*** General Styles ***/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: font-url('Roboto-Regular.ttf');
  src: font-url('Roboto-Regular.ttf') format('truetype');
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.clear {
	clear:both;
}

body {
   font-family: 'Roboto', 'Helvetica';
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*** Margins ***/

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-home {
	margin-top: -100px;
}

/*** Header ***/

#header {
}

#main-menu {
	height: 70px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
}

.logo img {
	width: 250px;
	float: left;
}

.menu-bar {
}

.menu-bar {
	float: left;
	padding: 0;
	padding-top: 21px;
}

.user-menu {
	float: right;
	padding: 0;
	margin: 20px auto;
}

.menu-bar li, .user-menu li {
	list-style: none;
	display: inline-block;
	text-align: center;
}

.menu-bar li {
	padding-left: 30px;
	padding-right: 30px;
}

.user-menu li {
	padding-left: 20px;
	padding-right: 20px;
}

.menu-bar li a, .user-menu li a {
	text-decoration: none;
	color: white;
	transition: color 0.5s ease;
}

.menu-bar li a:hover, .user-menu li a:hover {
	color: #00BAF2;
}

.menu-bar li a {
	font-size: 1.2em;
	font-weight: bold;
}

.user-menu li a {
	font-size: 1.2em;
}

/** Footer **/

.footer {
	margin: 0 auto;
	min-height: 410px;
	height: auto;
	background-color: #333;
	color: white;
}

.footer a {
	color: white;
}

.about {
	font-size: 1.2em;
}

.about p {
	display: block;
	width: 80%;
}

.social {
	font-size: 2.5em;
	padding-left: 15px;
	padding-top: 15px;
}

.social i {
	padding-left: 15px;
	padding-right: 15px;
	transition: opacity 0.5s ease;
}

.social i:hover {
	opacity: 0.7;
	text-decoration: none;
}

.social a:hover {
	text-decoration: none;
}

.contact a {
	font-size: 1.2em;
	transition: color 0.5s ease;
}

.contact a:hover {
	text-decoration: none;
	color: #00BAF2;
}

/** Home **/

.container_home {
	min-height: 600px;
	height: 100%;
	margin-bottom: 1px;
	padding-bottom: 1px;
}

/****************************************************/
/******************** DESKTOP ***********************/
/****************************************************/

@media screen and (min-width: 768px) {

#main-menu li {
}


.footer {
}


}