/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*** General Styles ***/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: font-url('Roboto-Regular.ttf');
  src: font-url('Roboto-Regular.ttf') format('truetype');
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.clear {
	clear:both;
}

body {
   font-family: 'Montserrat','Helvetica';
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*** Margins ***/

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-home {
	margin-top: -100px;
}
/** Alert **/

.alert {
	position:fixed;
	width: 100%;
	top: 70px;
	z-index: 10000;
}

/*** Header ***/

#header {
}

#main-menu {
	height: 70px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
}

.logo img {
	width: 250px;
	float: left;
}

.menu-bar {
}

.menu-bar {
	float: left;
	padding: 0;
	padding-top: 25px;
}

.user-menu {
	float: right;
	padding: 0;
	margin: 25px auto;
	color: white;
}

.exit_button, .exit_button a {
	height: 25px;
	font-size: 0.9em;
	padding: 2px;
	width: 50px;
	margin: 0 5px;
}

.menu-bar li, .user-menu li {
	list-style: none;
	display: inline-block;
	text-align: center;
}

.menu-bar li {
	padding-left: 30px;
	padding-right: 30px;
}

.user-menu li {
	padding-left: 20px;
	padding-right: 20px;
}

.menu-bar li a, .user-menu li a, a.menu_link {
	text-decoration: none;
	color: white;
	transition: color 0.5s ease;
}

.menu-bar li a:hover, .user-menu li a:hover, , a.menu_link:hover {
	color: #00BAF2;
}

.menu-bar li a {
	font-size: 1em;
	font-weight: bold;
}

.user-menu li a {
	font-size: 1em;
}


/** Footer **/

.footer {
	margin: 0 auto;
	min-height: 410px;
	height: auto;
	background-color: #333;
	color: white;
	font-weight: normal;
}

.footer a {
	color: white;
}

.about {
	font-size: 1em;
}

.about p {
	display: block;
	width: 80%;
}

.social {
	font-size: 2.2em;
	padding-left: 15px;
	padding-top: 15px;
}

.social i {
	padding-left: 15px;
	padding-right: 15px;
	transition: opacity 0.5s ease;
}

.social i:hover {
	opacity: 0.7;
	text-decoration: none;
}

.social a:hover {
	text-decoration: none;
}

.contact a {
	font-size: 1em;
	transition: color 0.5s ease;
}

.contact a:hover {
	text-decoration: none;
	color: #00BAF2;
}

/** Home **/

.container_home {
	min-height: 500px;
	height: 100%;
	margin-bottom: 1px;
	padding-bottom: 1px;
}

/*** General Features ***/

a .fa-heart, a .fa-star, a .fa-share {
	color:white;
	font-size: 1.3em;
	line-height: 1.5em
}

.heart_clicked {
	color:#B80000 !important;
}

.star_clicked {
	color:#FFCC33 !important;
}

.following {
	@extend .btn;
	@extend .btn-success;
}

.not-following {
	@extend .btn;
	@extend .btn-info;
}

.col {
	display: inline-block;
}



/*** Projects & Featured ***/

#featured {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	min-height: 400px;
}

.featured {
	width: 32%;
	position: relative;
	margin-right: 1.3%;
	display: inline-block;
	margin: 20px;
}

.featured_image {
	width: 100%;
}

.featured_image img {
	width: 100%;
}

.featured_content {
	text-align: left;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 0.9em;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
}

.featured_avatar img {
	vertical-align: initial;
	width: 70px;
	padding: 5px 5px 0 5px;
	border-radius: 100%
}

.featured_text {
	width: 100%;
}

.featured_social {
	width: 100%;
}

.featured_social .col {
	margin-right: 15px;
}

.featured_title {
	font-size: 1.2em;
}

.project_edit {
	position: absolute;
	top: 0;
	right: 0;
}

.project_edit {
	background-color: rgba(0,0,0,0.5);
	width: 26px;
	height: 30px;
	border-bottom-left-radius: 5px;
}

a .fa-edit {
	color:white;
	font-size: 1.3em;
	line-height: 1.5em
}

/****************************************************/
/******************** DESKTOP ***********************/
/****************************************************/

@media screen and (min-width: 768px) {

#main-menu li {
}


.footer {
}


}