.container_home {
	padding: 0;
}

.slideme {
	width: 100%;
	height: 100%;
}

.slideme img {
	width: 100%;
}

.slideme_container {
	position: relative;
	width: 100%;
	padding: 0;
	clear: both;
	padding: 0;
}

.slider_image {
	position:relative;
}

.slider_text {
	position: absolute;
	width: 100%;
	bottom: 45%;
	padding: 5px;
	color: black;
	font-size: 4em;
	color: rgba(255,255,255,0.6);
	z-index: 2000;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	/*text-shadow: 2px 2px #a0a0a0;*/
	display: none;
}


.slideme_container button {
	position: absolute;
	top: 50%;
	z-index: 3000;
	width: 20px;
	border-radius: 100% 0 0 100%;
	height: 20px;
	border: none;
	padding: 0;
}

.slideme_container button.next {
	position: absolute;
	right: 10px;
	border-radius: 0 100% 100% 0;	
	background: asset-url('arrow-right.png') no-repeat;
	background-size: 20px 20px;
}

.slideme_container button.prev {
	background: asset-url('arrow-left.png') no-repeat;
	background-size: 20px 20px;
	left: 10px;
}

.search {
  margin: 40px auto;
  text-align: center;
}

.search input {
  border: 1px solid #F0F0F0;
  width: 50%;
  font-size: 1.3em;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 10px;
}

.search-field {
  cursor: pointer
}

::-webkit-input-placeholder {
   color: #c0c0c0;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c0c0c0;  
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c0c0c0;  
   font-style: italic;
}

:-ms-input-placeholder {  
   color: #c0c0c0;  
   font-style: italic;
}

/** Plans **/

.basic_plan, .premium_plan {
	width: 90%;
	margin: 0 auto;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 20px;
	min-height: 210px;
}

.basic_plan li, .premium_plan li {
	text-align: left;	
}

.plan_title, .plan_price {
	font-style: bold;
	font-size: 1.6em;
}

@media screen and (min-width: 768px) {

.slider_text {
}

.featured {
}

.featured:nth-child(3),.featured:nth-child(6) {
}

}