.container_home {
	padding: 0;
}

.slideme {
	width: 100%;
	height: 100%;
}

.slideme img {
	width: 100%;
}

.slideme_container {
	position: relative;
	width: 100%;
	padding: 0;
	clear: both;
	padding: 0;
}

.slider_image {
	position:relative;
}

.slider_text {
	position: absolute;
	width: 100%;
	bottom: 50%;
	padding: 5px;
	color: black;
	font-size: 4.5em;
	color: rgba(255,255,255,0.6);
	z-index: 2000;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	/*text-shadow: 2px 2px #a0a0a0;*/
	display: none;
}


.slideme_container button {
	position: absolute;
	top: 50%;
	z-index: 3000;
	width: 20px;
	border-radius: 100% 0 0 100%;
	height: 20px;
	border: none;
	padding: 0;
}

.slideme_container button.next {
	position: absolute;
	right: 10px;
	border-radius: 0 100% 100% 0;	
	background: asset-url('arrow-right.png') no-repeat;
	background-size: 20px 20px;
}

.slideme_container button.prev {
	background: asset-url('arrow-left.png') no-repeat;
	background-size: 20px 20px;
	left: 10px;
}

#featured {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	min-height: 500px;
}

.featured {
	width: 32%;
	background-color: #dbdbdb;
	position: relative;
	margin-right: 1.3%;
	display: block;
	width: 90%;
	margin: 20px auto;
}

.featured_image {
	width: 100%;
}

.featured_image img {
	width: 100%;
}

.featured:nth-child(odd) .featured_pattern {
	background: asset-url('patron2.png') no-repeat;
	background-size: 100% 10px;
}

.featured:nth-child(even) .featured_pattern {
	background: asset-url('patron3.png') no-repeat;
	background-size: 100% 10px;
}

.featured .featured_pattern {
	height: 10px;
}

.featured_content {
	text-align: left;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 1em;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
}

.featured_title {
	font-size: 1.2em;
}

@media screen and (min-width: 768px) {

.slider_text {
}

.featured {
	display: inline-block;
	width: 33%;
}

.featured:nth-child(3),.featured:nth-child(6) {
	margin-right: 0;
}

}