.cover_section {
	padding: 0 !important;
}

.cover_photo {
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.cover_photo img {
	width: 100%;
}

.profile_photo {
	width: 100%;
	position: absolute;
	bottom: -50px;
	margin: 0 auto;
}

.profile_photo img {
	width: 100px;
	text-align: center;
	border-radius: 100%;
	box-shadow: 1px 1px #333;
	z-index: 1000;
}

.user_name {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	bottom: -80px;
	z-index: 1000;
	position: absolute;
	color: #333;
	font-size: 1.5em;
}

.professional {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
}

.professional_image {
	width: 100%;
	text-align: center;
	clear: both;
	margin: 10px auto;
}

.professional_image img {
	border-radius: 100%;
	box-shadow: 1px 1px #333;
	z-index: 1000;
	width: 109px;
}

.professional_text {
	padding:10px;
	width: 100%;
	vertical-align: top;
	word-wrap: break-word;
}

.professional_link {
	text-decoration: none;
	display: block;
	color: black;
}

.professional_link:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.1);
}

.professional_name {
	font-weight: bold;
	font-size: 1.2em
}

.user-mid-section {
	background-color: #f0f0f0;
	padding: 10px;
	z-index: 0;
	height: auto;
	padding-top: 80px;
	margin: 0 auto;
}

.followers {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.followers .col {
	padding-left: 5px;
	padding-right: 5px;
}

.follow_count_title {
	font-size: 0.8em
}

.follow_me {
	vertical-align: top;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.follow_me button {
	width: 130px;
}

.edit_profile {
	z-index: 10000;
	height: 25px;
	padding: 2px 5px !important;
	font-size: 0.6em;
	width: 130px;
}

.description, .projects, .contact-data {
	padding: 0 5px;
}

@media screen and (min-width: 768px) {

.professional_image {
	float: left !important;
	width: 96px;
	padding: 5px;
	margin-left: 15px;
}

.professional_image img {
	width: 109px;
	border-radius: 0%;
}

.professional_text {
	width: 80%;
	margin-left: 15px;
}

.profile_photo {
	width: 160px;
	margin: 0;
	left: 100px !important;
}

.profile_photo img {
	text-align: initial;
	width: 160px;
}

.user_name {
	width: 200px;
	left: 280px;
	bottom: 20px;
	color: white;
	font-size: 1.8em;
	text-shadow: 1px 1px #333; 
}

.user-mid-section {
	width: 100%;
	padding-top: 10px;
}

.followers {
	width: 200px;
	float: right;
}

.follow_me {
	float: right;
	width: 130px;
}

.follow_me button {
	width: 130px;
}

.edit_profile {
	z-index: 10000;
	height: 35px;
	padding: 5px !important;
	font-size: 1em;
}

}